html {
    height: 100%;
    box-sizing: border-box;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
  }

body{
    position: relative;
    margin: 0;
    padding-bottom: 2.2em;
    min-height: 100%;
  }

.sobrefooter {
    margin: 0 auto;
    padding-top: 86px;
    max-width: 640px;
    width: 94%;
  }

.footnav{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    text-align: center;
    background-color: #272b30;
    width: 100%;
    padding: 10px;
  }

.footnav p{
    letter-spacing: 0.2em;
    color: white;
    align-self: center;
    margin: 0px;
  }
  
  .footnav a{
    display: inline-block; 
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
    text-decoration: none;
  }

 